* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 1920px;
    background-color: #DADBD4;
}

.header {
    height: 145px;
    width: 1920px;
    background-color: #009688;
}