* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #DADBD4;
    font-family: sans-serif;
}

.interface {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-bg {
    height: 145px;
    width: 100%;
    background-color: #009688;
}

.middle-section {
    display: flex;
}

.first-container {
    width: 1000px;
    margin: 22px auto;
    display: flex;
    flex-direction: column;
}

.section-header {
    width: 400px;
    height: 70px;
    border-right: 1px solid #B1B1B1;
    position: relative; 
    top: 70px;
    background-color: #E9EBEB;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.main-header {
    width: 600px;
    height: 70px;
    position: relative;
    left: 400px;
    background-color: #E9EBEB;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    height: 600px;
    width: 600px;
    background-image: url('../img/boolzapp-bg.jpeg');
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 70px;
    width: 600px;
    position: relative; 
    right: -400px;
    bottom: 70px;
    background-color: #F3EEEA;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.notification {
    background-color: #8EDAFC;
    height: 50px;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

.notification-text {
    margin: 0 1rem;
}

.link {
    color: #4F7485;
    text-decoration: underline;
}

.search {
    height: 40px;
    background-color: rgb(235, 242, 243);
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-light {
    color: #F2FBFF;
}

.section {
    height: 670px;
    width: 400px;
    background-color: white;
}

.logo {
    color: #B1B1B1;
}

.logo-dark {
    color: #6B7376;
}

.logo-dark:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.contact-img {
    border-radius: 50%;
    width: 50px;
    margin-right: 1rem;
}

.left {
    margin: .3rem;
    flex: 0 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
}

.right {
    margin: .3rem;
    flex: 0 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contact-list {
    overflow: auto;
}

.contact {
    height: 70px;
    padding: 1rem;
    border-bottom: 1px solid #B1B1B1;
    display: flex;
    align-items: center;
}

.contact:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.section {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.contact-header {
    height: 70px;
    padding: .5rem;
    display: flex;
    align-items: center;
}

.grey {
    color: #B6B9BB;
}

.message {
    width: fit-content;
    height: fit-content;
    padding: .5rem 1rem;
    border-radius: 20px;
    /* overflow-wrap: break-word; */
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
}

.message-sent {
    background-color: #D5F9BA;
    /* width: fit-content;
    height: fit-content;
    padding: .5rem 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex: 0 0 50%; */
}

.message-received {
    background-color: #6B7376;
    color: #E9EBEB;
    /* width: fit-content;
    height: fit-content;
    padding: .5rem 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex: 0 0 50%; */
}